/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .header-btn {
        background-color: #0ABCEB;
        border-radius: 10px;
        border: #0ABCEB;
        float: right;
        width: 195px;
        height: 51px;
        color: white;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        margin-top: -10px;
    }
    
    .header-right {
        display: block;
        float: right;
        padding: 6px 20px;
    }

    .header-headline {
        text-align: left;
        max-width: 300px;
        padding-top: 75px;
    }

    .header-running-text {
        line-height: 30px;
        margin: 0;
        text-align: left;
    }

    .hero {
        padding-bottom: 230px;
    }

    .hero-button {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .hero-right {
        text-align: left;
    }

    .ipad {
        display: block;
        position: absolute;
        right: 0px;
        z-index: 48;
        height: 427px;
        margin-top: 48px;
    }

    .ipad-screen {
        display: block;
        padding-bottom: 40px;
        margin-top: 19px;
        right: 1px;
    }

    .img-left {
        display: none;
    }
    
    .img-right {
        display: block;
    }

    
    .feature-section {
        padding-top: 60px;
    }

    .features-headline {
        color: white;
        padding-bottom: 70px;
    }

    .logos {
        padding: 30px;
        max-width: 100%;
    }

    .white-section-text {
        text-align: justify;
        padding-top: 80px;
        padding-left: 100px;
    }

    .imac-section-desc {
        font-weight: 300;
        font-size: 15px;
        line-height: 30px;
        max-width: 400px;
        margin: inherit;
        text-align: left;
    }

    .pricing-table {
        padding: 70px 0 100px;
        max-width: 1050px;
        margin: auto;
    }

}

.team {
    padding-bottom: 130px;
}

.team-member {
    text-align: center;
}

.email-form-div {
    max-width: inherit;
    margin: auto;
}

.webscope {
    margin-top: 0;
}

.social-links {
    float: right;
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .ipad {
        display: block;
        position: absolute;
        right: 80px;
        z-index: 1;
        height: 427px;
        margin-top: 0px;
        max-width: 80%;
    }
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
}
